@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2>Shopping Cart</h2>
    <div class="row-fluid">
        <div class="offset1">
            <h1 class="well">

                <a href=@Url.Action("Index", "Home")>

                </a>
                Northwind shopping cart

                <button class="btn  btn-info  col-xs-offset-10" ng-click="saveCart()" ng-disabled="!isUserLogin">Save Cart</button>
            </h1>
            <div class="row-fluid">
                <table class="table table-bordered">
                    <!-- header -->
                    <tr class="well">
                        <td><b>Item</b></td>
                        <td class="tdCenter"><b>Quantity</b></td>
                        <td class="tdRight"><b>Price</b></td>
                        <td/>
                    </tr>
                    <!-- empty cart message -->
                    <tr ng-hide="cart.items.lenght > 0">
                        <td class="text-center" colspan="4">
                            Your cart is empty.
                        </td>
                    </tr>
                    <!-- cart items -->
                    <tr ng-repeat="item in cart.items | orderBy:'name'">
                        <td>{{item.name}}</td>
                        <td class="tdCenter">
                            <div class="input-append">
                                <!-- use type=tel instead of to prevent spinners -->
                                <input class="col-xs-offset-3 text-center" type="tel"
                                       ng-model="item.quantity"
                                       ng-change="cart.saveItems()"/>
                                <button class="btn btn-success" type="button"
                                        ng-disabled="item.quantity >= 1000"
                                        ng-click="addCart(item.id, item.name, item.price, +1)">
                                    +
                                </button>
                                <button class="btn btn-danger" type="button"
                                        ng-disabled="item.quantity <= 0"
                                        ng-click="addCart(item.id, item.name, item.price, -1)">
                                    -
                                </button>

                            </div>
                        </td>
                        <td class="tdRight">{{item.price * item.quantity | currency}}</td>
                        <td class="tdCenter" title="remove from cart">
                            <a href="" ng-click="addCart(item.id, item.name, item.price, -100)">
                                <i class="icon-remove">Remove</i>

                            </a>

                        </td>

                    </tr>
                    <!-- footer -->
                    <tr class="well">
                        <td><b>Total</b></td>
                        <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                        <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                        <td/>

                    </tr>
                </table>

            </div>
            <div ng-show ="isUserLogin">
                <button class="btn btn-danger  col-xs-offset-10 col-md-offset-10" onclick="document.location.href = '@Url.Action("Index", "Orders")' " ng-disabled="cart.items.length <= 0">Checkout</button>
                
            </div>
        <div ng-view></div>
    </div>

      

